h2 {
    color: red;
}





body {
    background: linear-gradient(to bottom, #ffffff 0%, #800000 100%););
}



img {
    height: 100px;
}
p{color:#aa2a2a
    
    
}

h1 {
    color: red
        
       
    }
 
#life{
    color:#e53e2b
}
p {
    border: 4px dotted;
    padding: 15px;
    margin: 10px;
    width: 25%;
    height: 20px;
}

/* unvisited link */
a:link {
    color: #5d5e8c;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #33f0f7;
}

/* selected link */
a:active {
    color: grey;
}

#life-section{height: 320px}

#anime{height: 150px}

span{
    font-weight:bold
}






